
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Demonstrating CSS</title>
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>

    <h1>About Me</h1>

    <h2>Personal Details</h2>
    <p>My name is Madison. I am passionate about finding my purpose in my lifetime.</p>

    <h2>Education</h2>
    <p>I am pursuing a degree in Information Systems at the University of Maryland, College Park at the Robert H. Smith School of Business.</p>

    <p>Now that you know about my education background, let's delve into what I do outside of school</p>
    <p>My hobbies include reading, baking, and working out.</p>

    <p id="third-paragraph">I live in Maryland and hope to stay here for my future.</p>

    <p><em>I love dogs!</em></p>
    <p>But I am <strong>not</strong> a fan of cats.</p>

    <p><em>I am a Pisces</em></p>
    <p>I love watching Real Housewives of Potomac <strong>but not</strong> Real Housewives of Atlanta.</p>

    <!-- This is my unordered list -->
    <ul>
        <li>Course 1 - BMGT 407</li>
        <li>Course 2 - BMGT 408V</li>
        <li>Course 3 - EDHD 320</li>
        <li>Course 4 - ENES 461</li>
    </ul>

    <!-- This is my ordered list -->
    <ol>
        <li>Wake up</li>
        <li>Brush teeth</li>
        <li>Make Coffee and breakfast</li>
        <li>Get dressed</li>
    </ol>

    <!-- This is my table -->
    <table>
        <thead>
            <tr>
                <th>Snack</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Celery</td>
                <td>Vegetable</td>
            </tr>
            <tr>
                <td>Grapes</td>
                <td>Fruit</td>
            </tr>
            <tr>
                <td>Banana</td>
                <td>Fruit</td>
            </tr>
        </tbody>
    </table>

    <!-- Relative Hyperlink -->
    <p><a href="http://127.0.0.1:5000">Visit My Hello Page</a></p>

    <!-- Hyperlinks with New Browser Tab -->
    <p><a href="https://www.target.com" target="_blank">Visit Target.com</a></p>
    <p><a href="https://www.forever21.com/" target="_blank">Visit My Favorite Site</a></p>

    <!-- Smith Logo -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" class="logo">


    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Madison B.</p>
    </footer>


</body>
</html>